[user]
  name = Jacob Adlers
[push]
  followTags = true
[pull]
  rebase = true
[core]
  editor = nvim
[fetch]
  prune = true
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  tabs = 2
[rerere]
	enabled = true
