[user]
  name = Jacob Adlers
[pull]
  rebase = true
[core]
  editor = nvim
  pager = delta
[fetch]
  prune = true
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
