snippet cout "Send on standard out"
std::cout << $1 << std::endl;$0
endsnippet

snippet inch "Include a .h file"
#include "${1:file_name.h}"$0
endsnippet

snippet incs "Include from standard system directories file"
#include <${1:file_name.h}>$0
endsnippet

# Test specific (using CxxTests)
snippet tcase "One test method"
void test_${1:case} () {
	$0
}
endsnippet
