snippet sec "New section"
\section{${1:Section name}}

$0
endsnippet

snippet cit "Add citiation"
\cite{${1:citation-id}}$0
endsnippet

snippet begg "Begin and end block"
\begin{${1:itemize}}
$0
\end{$1}
endsnippet

snippet itemize "New bulleted list"
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet inlrust "Inline rust code with minted"
\mintinline{rust}{$1}$0
endsnippet
